.form-control {
    margin-top: 7px;
}

.cor-linha {
    background-color: aqua;
}

.negrito {
    font-weight: bold;
}

.alert {
    margin-top: 7px;
}
.custom-select {
    margin-top: 9px;
}


.tao {
    width: 420px;
     height: 220px;
}