<div>
    <br><br>
    <div class="row">

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <a href="#!/vendas"><img class="card-img-top" src="img/camisa-dropdead-manga-curta-flash-preto-.jpg"
                        alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#!/vendas">Drop </a>

                </div>

            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <a href="#!/vendas"><img class="card-img-top" src="img/hurley-estuary-preto-.jpg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#!/vendas">Hurley</a>

                </div>

            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <a href="#!/vendas"><img class="card-img-top" src="img/vans-manga-curta-wakefield.jpg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#!/vendas"> Vans</a>
                </div>
            </div>
        </div>
    </div>

</div>